.login{
    padding: 25px;
    box-shadow: 0 0 10px rgb(181, 181, 181);
  
  
  width: 60vw;
  max-width: 600px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   margin: 0 auto;
   
   margin-top: 5vh;
   input{
    
    padding: 10px;
    outline: none;
    border: 1px solid rgb(158, 158, 158);
   }
   div span{
    color: #15b7b9;
    font-weight: bolder;
      letter-spacing: 1px;
      cursor: pointer;
   }
   div{
    margin-top: 20px;
   }
   button{
    position: relative;
    display: flex;
    justify-content: center;
    
    margin-top: 20px;
    background: #15b7b9;
      color: white;
      border: none;
      padding: 5px 20px;
      border-radius: 5px;
      font-weight: bolder;
      letter-spacing: 2px;
      border: 1px solid rgb(82, 82, 255);
   }
   button:focus{
    box-shadow: 0 0 10px rgb(78, 149, 255);
   }
   input:focus{
    border: 1px solid rgb(78, 149, 255);
   }
   input::placeholder{
     opacity: .6;
     font-family: 'Courier New', Courier, monospace;
   }
}