.item-container{
  height: 35vh;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    box-shadow: rgba(59, 78, 87, 0.349) 0px 1px 3px 0px;
  div .remove{
    background: #c60d65;
    color:white;
    border:none;
    transform: scale(1, 0.9);
    padding:5px 10px;
    font-size: calc(0.5rem + 0.6vw);
    font-weight: bolder;
    letter-spacing: 1px;
  }
  div p .old-price{
    opacity:0.8;
     text-decoration: line-through;
     font-size: 0.8rem;
  }
    padding: 5px;
    .img{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .img img{
        width: calc(50px + 5vw);
        object-fit: cover;
    }
    div h2{
      font-weight: bolder;
      letter-spacing: 1px;
      font-size: calc(0.5rem + 0.5vw);
      
    }
    .descritpion{
      margin-right:5%;
      
    }
    .quantity-contoller{
      display: flex;
      align-items: center;
      margin-top: 10px;
      span{
        cursor: pointer;
      }
      input{
        font-size: calc(0.6rem + 0.5vw);
        padding: 5px;
        width: calc(20px + 7vw);
        margin: 0 4px;
      }
    }
    .price{
      font-size: calc(0.7rem + 0.5vw);
    }
}