.product-cart-container{
    overflow: hidden;
 display: flex;
  flex-direction: column;    
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width:29vw;
height: 400px;
  position: relative;
  padding: 8px;
  transition: all 0.2s ease;
  cursor: pointer;
  .img-container{
    display: flex;
    justify-content: center;
    height: 60%;
    img{
        width: 50%;
        object-fit: contain;
    }
  }
  .mini-description{
    height: 300px;
    position: absolute;
    top:  65%;
    z-index: 10;
    .rate{
        display: flex;
        justify-content: space-evenly;
        color: white;
        background: #15b7b9;
        width: fit-content;
        padding: 3px;
        margin-left: 1vw;
    }
    .price-info{
        margin-left: 1vw;
        display: flex;
        align-items: center;
        .price{
            font-weight: 700;
        }
        .old-price{
            opacity: 0.8;
            text-decoration: line-through;
            font-size: 0.8rem;
        }
    }
    
  }
  &::before{
    content: '';
    width: 0%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: #15b7b9;

    transition: all 0.2s ease-in-out;
    
}
 &:hover{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
    transform: translateY(-1.5px);
    &::before{
        content: '';
        width: 100%;
        height: 5px;
        position: absolute;
        bottom: 0;
        left: 0%;
        border-radius: 10px;
        background: #c60d65;
    }

 }
}
@media only screen and (max-width: 768px) {
    .product-cart-container{


width:42vw;
height: 400px;
}
}
@media only screen and (max-width: 460px) {
    .product-cart-container{
        height:475px;
         .mini-description{
            height: 300px;
         }
      
      .img-container{
        display: flex;
        justify-content: center;
        height: 50%;
        img{
            width: 90%;
            object-fit: contain;
        }
      }
}

}