.carousel{
    height: 90vh;
    width: 100vw;
    display: flex;
    margin: 0 auto;
   
    justify-content: center;
    align-items: center;
    .img{
        // height: 50vh; 
        width: calc(100px + 20vw);
        height:auto;
        object-fit: contain;
    }
    .description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button{
            background: #25beac;
            color: white;
            border: none;
            padding: 8px 30px;
            
        }
        h2{
            font-size: calc(1rem + 1vw);;
        }
    }
    .carousel-insight{
        width: 60vw;
        margin-left: 20vw;
        display: flex;
        justify-content: center;
        gap: 5vw;
    }
}

