.product-cart-container{
 display: flex;
  flex-direction: column;    
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 29%;
  height: 500px;
  position: relative;
  padding: 8px;
  .img-container{
    display: flex;
    justify-content: center;
    height: 70%;
    img{
        width: 50%;
        object-fit: contain;
    }
  }
  .mini-description{
    height: 200px;
    position: absolute;
    top:  70%;
    z-index: 10;
    .rate{
        display: flex;
        justify-content: space-evenly;
        color: white;
        background: #15b7b9;
        width: fit-content;
        padding: 3px;
        margin-left: 1vw;
    }
    .price-info{
        margin-left: 1vw;
        display: flex;
        align-items: center;
        .price{
            font-weight: 700;
        }
        .old-price{
            opacity: 0.8;
            text-decoration: line-through;
            font-size: 0.8rem;
        }
    }
    
  }

}
@media only screen and (max-width: 768px) {
    .product-cart-container{


width:40vw;
height: 400px;
}
}