.carousel{
    height: 85vh;
    width: 100vw;
    display: flex;
    margin: 0 auto;
   
    justify-content: center;
    align-items: center;
    .img{
        // height: 50vh; 
        width: calc(65px + 25vw);
        max-width: 400px;
        height:auto;
        object-fit: contain;
    }
    .description{
        // width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        button{
            background: #15b7b9;
            color: white;
            border: none;
            font-size: calc(0.9rem + 0.5vw);
            padding: 0.4em 1.3em; 
            font-weight: bold;
            
        }
        span{
            font-size: calc(0.8rem + 0.2vw);
        }
        h5{
            font-weight: bolder;
            font-size: calc(0.7rem + 0.5vw);;
        }
        h2{
            font-size: calc(1rem + 1vw);;
        }
    }
    .carousel-insight{
        width: 60vw;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
       
        gap: 5vw;
    }
    @media only screen and (max-width: 768px) {
        .carousel-insight{
            width: 80vw;
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;
           
            gap: 5vw;
        }
      }
}

